<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<link rel="stylesheet" th:href="@{/lib/css/bootstrap.min.css}"></link>
<script type="text/javascript" th:src="@{/lib/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}"></script>
<meta charset="UTF-8"/>
<title>EkoSmiec</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}">EkoSmiec</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
      	 <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Sektory <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/sectors/biowaste}">Bioodpady</a></li>
               <li><a th:href="@{/sectors/recyclable}">Przetwarzalne</a></li>
               <li><a th:href="@{/sectors/other}">Pozostale</a></li>
               <li><a th:href="@{/sectors/all}">Wszystkie</a></li>
            </ul>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Kontenery <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/containers/biowaste}">Bioodpady</a></li>
               <li><a th:href="@{/containers/recyclable}">Przetwarzalne</a></li>
               <li><a th:href="@{/containers/other}">Pozostale</a></li>
               <li><a th:href="@{/containers/all}">Wszystkie</a></li>
            </ul>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Harmonogram <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/schedule/schedule}">Informacje o harmonogramie </a></li>
               <li><a th:href="@{/schedule/edit_schedule}">Zmiana harmonogramu </a></li>
            </ul>
         </li>
         <li><a th:href="@{/raport}">Raporty i statystyki </a></li>
      </ul>
   </div>
</nav>

      <div class="page-content">
      	<section layout:fragment="decorator-content">
      		<p>Page content goes here</p>
      	</section>
      </div>
</body>
</html>