<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<link rel="stylesheet" th:href="@{/lib/css/bootstrap.min.css}"></link>
<script type="text/javascript" th:src="@{/lib/js/jquery.js}"></script>
<link rel='stylesheet' th:href="@{/lib/fullcalendar/fullcalendar.css}" />
<script th:src="@{/lib/fullcalendar/lib/moment.min.js}"></script>
<script th:src="@{/lib/fullcalendar/fullcalendar.js}"></script>
<script th:src="@{/lib/fullcalendar/lang/pl.js}"></script>
<script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<meta charset="UTF-8"/>
<title>EkoSmiec</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}">EkoSmiec</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a th:href="@{/sectors/all}" >Sektory</a></li>
         <li><a th:href="@{/schedule/schedule}" >Harmonogram</a></li>
         <li><a th:href="@{/raport}">Raporty i statystyki </a></li>
         <li><a th:href="@{/schedule/work_schedule}">Grafik pracy </a></li>
      </ul>
   </div>
</nav>

      <div class="page-content">
      	<section layout:fragment="decorator-content">
      		<p>Page content goes here</p>
      	</section>
      </div>
</body>
</html>