<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Raport</title>
</head>
<body>
<div layout:fragment="decorator-content">
Raport<br/>
<form action="#" >		
		<TABLE>
            <TR>
				<td><span>Rodzaj odpadów</span>
				<td><select id="sektory" name="sektory">
   					<option value="Sektor1">Bioodpady</option>
  					<option value="Sektor2">Przetwarzalne</option>
   					<option value="Sektor3">Pozostałe</option>
					</select></td>
				</td>
            </TR>
            <TR>
				<td><span>Sektory</span>
				<td><select id="sektory" name="sektory">
   					<option value="Sektor1">Sektor 1</option>
  					<option value="Sektor2">Sektor 2</option>
   					<option value="Sektor3">Sektor 3</option>
					</select></td>
				</td>
            </TR>
            <TR>
				<td><span>Pojemność kontenerów</span>
				<td><select id="sektory" name="sektory">
   					<option value="Sektor1">60 litrów</option>
  					<option value="Sektor2">80 litrów</option>
   					<option value="Sektor3">120 litrów</option>
					</select></td>
				</td>
            </TR>
            <TR>
				<td><span>Czas od</span>
				<td><select id="sektory" name="sektory">
   					<option value="Sektor1">12-06-2014</option>
  					<option value="Sektor2">21-06-2014</option>
					</select></td>
				</td>
            </TR>
            <TR>
				<td><span>Czas do</span>
				<td><select id="sektory" name="sektory">
   					<option value="Sektor1">12-06-2014</option>
  					<option value="Sektor2">21-06-2014</option>
					</select></td>
				</td>
            </TR>
            <TR>
            <td><input type="submit" value="Generuj" /></td>
            </TR>
        </TABLE>
</form>
</div>
</body>
</html>