<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Wszystkie</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript">
// <![CDATA[
$(document).ready(function() {
	var map = null
	var markers = [];

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(51.759314, 19.455757),
      zoom: 8
    };
    map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
    
    google.maps.event.addListener(map, 'click', function(event) {
  	  var lat = event.latLng.lat();
  	  var lng = event.latLng.lng();
  	  $('#lat').val(lat);
  	  $('#lon').val(lng);
  	  placeMarker(event.latLng);
    });
    
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  function placeMarker(location) {
	  deleteMarkers();
	    var marker = new google.maps.Marker({
	        position: location, 
	        map: map
	    });
	    markers.push(marker);
  }
  
  function setAllMap(map) {
	  for (var i = 0; i < markers.length; i++) {
	    markers[i].setMap(map);
	  }
	}
  
  function clearMarkers() {
	  setAllMap(null);
	}

  function deleteMarkers() {
	  clearMarkers();
	  markers = [];
	}
//  ]]>
});
</script>


</head>
<body>
<div layout:fragment="decorator-content">
Kontener Wszystkie<br/>
<form action="#" >
<TABLE>
	<TD align="left" valign="top">			
		<TABLE>
        	<TR>
            	<td><label for="sektory">Wybierz sektor</label>:</td>
           		<td><select id="sektory" name="sektory">
   					<option value="Sektor1">Sektor 1</option>
  					<option value="Sektor2">Sektor 2</option>
   					<option value="Sektor3">Sektor 3</option>
					</select></td>
            </TR>
            <TR>
            	<td><label for="kontenery">Kontenery</label>:</td>
				<td><label for="tekst">tutaj lista/tabela kontenerow</label></td>
            </TR>
            <TR>
            	<td><label for="zmien">Dodaj/Zmień kontener</label>:</td>
            </TR>
            <TR>
            	<td><label for="pojemnosc">Pojemność</label>:</td>
            	<td><select id="pojemnosc" name="pojemnosc">
   					<option value="60">60 litrowy</option>
  					<option value="80">80 litrowy</option>
   					<option value="120">120 litrowy</option>
					</select></td>
            </TR>
            <TR>
            	<td><label for="lat">Długość geograficzna</label>:</td>
            	<td><input type="text" id="lat"  /> <br /></td>
            </TR>
            <TR>
            	<td><label for="lon">Szerokość geograficzna</label>:</td>
            	<td><input type="text" id="lon" /> <br /></td>
            </TR>
            <TR>
            	<td><input type="submit" value="Dodaj" />
            	<input type="submit" value="Edytuj" />
				<input type="submit" value="Usuń" /></td>
            </TR>
        </TABLE>
	</TD>
	<TD>
	<div id="map-canvas" style="width:500px;height:500px;"/>
	</TD>
</TABLE>
</form>
</div>
</body>
</html>