<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bioodpady</title>
</head>
<body>
<div layout:fragment="decorator-content">
Kontener Bioodpady<br/>
<ul> 
<li th:each="kontener : ${kontenery}" th:text="${kontener.id + ' ' + kontener.nazwa + ' ' + kontener.pojemnosc + ' ' + kontener.opis}">
</li>
</ul>
</div>
</body>
</html>