<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Wszystkie</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>
<div layout:fragment="decorator-content">
<table>
<tr th:each="sector : ${sectors}">
	<td><a th:href="@{'/sectors/edit/' + ${sector.id}}"><span th:text="${sector.nazwa}"></span></a></td>
	<td><a th:href="@{'/sectors/delete/' + ${sector.id}}">[X]</a></td>
</tr>
</table>
<p><a th:href="@{'/sectors/new/'}">[NOWY SEKTOR]</a></p>
</div>
</body>
</html>