<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Wszystkie</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>
<div layout:fragment="decorator-content">
<form action="#" >		
		<TABLE>
        	<TR>
				<th>Sektor</th>
				<th>Rodzaj odpadów</th>		
			</TR>
			<TR>
				<td><a th:href="@{/sectors/edit}" >Sektory 1</a></td>
				<td>Bioodpady</td>		
				<td><a>[X]  </a></td>
			</TR>
			<TR>
				<td><a th:href="@{/sectors/edit}" >Sektory 2</a></td>
				<td>Bioodpady</td>
				<td><a>[X]  </a></td>		
			</TR>
			<TR>
				<td><a th:href="@{/sectors/edit}" >Sektory 3</a></td>
				<td>Bioodpady</td>	
				<td><a>[X]  </a></td>	
			</TR>
			<TR>
            <td><label for="odstep"> </label></td>
            </TR>
            <TR>
            <td><label for="tekst">Dodaj nowy sektor</label></td>
            </TR>
            <TR>
            	<td>Nazwa:</td>
            	<td><input type="text" id="sektor" /> <br /></td>
            	<td><input type="submit" value="Dodaj" /></td>
            </TR>
        </TABLE>
</form>
</div>
</body>
</html>