<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bioodpady</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript">
// <![CDATA[
$(document).ready(function() {
	var map = null
	var markers = [];

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(51.759314, 19.455757),
      zoom: 8
    };
    map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
    
    google.maps.event.addListener(map, 'click', function(event) {
  	  var lat = event.latLng.lat();
  	  var lng = event.latLng.lng();
  	  $('#lat').val(lat);
  	  $('#lon').val(lng);
  	  placeMarker(event.latLng);
    });
    
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  function placeMarker(location) {
	  deleteMarkers();
	    var marker = new google.maps.Marker({
	        position: location, 
	        map: map
	    });
	    markers.push(marker);
  }
  
  function setAllMap(map) {
	  for (var i = 0; i < markers.length; i++) {
	    markers[i].setMap(map);
	  }
	}
  
  function clearMarkers() {
	  setAllMap(null);
	}

  function deleteMarkers() {
	  clearMarkers();
	  markers = [];
	}
//  ]]>
});
</script>


</head>
<body>
<div layout:fragment="decorator-content">
<label>Edycja sektora</label>
<form action="#" >
<table>
<tr>
	<td align="left" valign="top">			
		<table>
        	<tr>
            	<td>Rodzaj odpadów :</td>
           		<td><select id="sektory" name="sektory">
   					<option th:each="type : ${wasteTypes}" 
          					th:value="${type.id}" 
          					th:text="${type.nazwa}">Nazwa</option>
					</select></td>
            </tr>
            <tr>
            	<td>Częstotliwość wywozu :</td>
           		<td><select id="sektory" name="sektory">
   					<option value="Sektor1">Raz na tydzień</option>
  					<option value="Sektor2">Dwa razy w tygodniu</option>
   					<option value="Sektor3">Trzy razy w tygodniu</option>
					</select></td>
            </tr>
            <tr>
            <td><label for="odstep"> </label></td>
            </tr>
            <tr>
            <td>Kontenery :</td>
            </tr>
            <tr>
				<th>Pojemność</th>	
				<th>Długość geograficzna</th>
				<th>Szerokość geograficzna</th>
			</tr>
			<tr>
				<td>60 litorwy</td>	
				<td>50.1234</td>	
				<td>51.6734</td>		
				<td><a>[X]  </a></td>
			</tr>
			<tr>
				<td>60 litorwy</td>	
				<td>50.1234</td>	
				<td>51.6734</td>	
				<td><a>[X]  </a></td>		
			</tr>
			<tr>
				<td>60 litorwy</td>	
				<td>50.1234</td>	
				<td>51.6734</td>	
				<td><a>[X]  </a></td>	
			</tr>
			<tr>
            <td><label for="odstep"> </label></td>
            </tr>
            <tr>
            	<td><label for="zmien">Dodaj kontener</label>:</td>
            </tr>
            <tr>
            	<td>Pojemność :</td>
            	<td><select id="pojemnosc" name="pojemnosc">
   					<option th:each="type : ${containerTypes}" 
          					th:value="${type.id}" 
          					th:text="${type.nazwa}">Nazwa</option>
					</select></td>
            </tr>
            <tr>
            	<td>Długość geograficzna :</td>
            	<td><input type="text" id="lat"  /> <br /></td>
            </tr>
            <tr>
            	<td>Szerokość geograficzna :</td>
            	<td><input type="text" id="lon" /> <br /></td>
            </tr>
            <tr>
            	<td><input type="submit" value="Dodaj" /></td>
            </tr>
            <tr>
            	<td><input type="submit" value="Zapisz" />
            	<input type="submit" value="Anuluj" />
            	</td>
            </tr>
        </table>
	</td>
	<td align="center">
	<div id="map-canvas" style="width:500px;height:500px;"/>
	</td>
	</tr>
</table>
</form>
</div>
</body>
</html>