<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Informacje o harmonogramie</title>
<script type="text/javascript">
// <![CDATA[
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })

});
//]]>
</script>
</head>
<body>
<div layout:fragment="decorator-content">
Informacje o harmonogramie<br/>
<form action="#" >		
		<TABLE>
        	<TR>
            	<td><label for="sektory">Bioodpady</label>:</td>
            </TR>
            <TR>
				<td><span>Sektor 1 : Raz na dzień</span></td>
            </TR>
            <TR>
            	<td><label for="sektory">Przetwarzalne</label>:</td>
            </TR>
            <TR>
				<td><span>Sektor 1 : Raz na dzień</span></td>
            </TR>
            <TR>
            	<td><label for="sektory">Pozostałe</label>:</td>
            </TR>
            <TR>
				<td><span>Sektor 1 : Raz na dzień</span></td>
            </TR>
            <TR>
            <td><input type="submit" value="Generuj" /></td>
            </TR>
        </TABLE>
</form>
<div id='calendar'></div>
</div>
</body>
</html>