<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Grafik pracy</title>
</head>
<body>
<div layout:fragment="decorator-content">
<form role="form" action="#" th:action="@{/schedule/work_schedule}" th:object="${scheduleForm}" method="post">	

<input type="hidden" th:field="*{monday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{tuesday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{wednesday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{thursday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{friday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{saturday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{sunday.dzien_tygodnia}"/>

<table  class="table table-hover">
<tr>
<td><label for="monday"><span>Poniedziałek: </span></label></td>
<td><input type="text" id="monday" th:field="*{monday.ilosc}" placeholder="Liczba godzin"/><br/></td>
</tr>
<tr>
<td><label for="tuesday"><span>Wtorek: </span></label></td>
<td><input type="text" id="tuesday" th:field="*{tuesday.ilosc}" placeholder="Liczba godzin"/><br/></td>
</tr>
<tr>
<td><label for="wednesday"><span>Środa: </span></label></td>
<td><input type="text" id="wednesday" th:field="*{wednesday.ilosc}" placeholder="Liczba godzin"/><br/></td>
</tr>
<tr>
<td><label for="thursday"><span>Czwartek: </span></label></td>
<td><input type="text" id="thursday" th:field="*{thursday.ilosc}" placeholder="Liczba godzin"/><br/></td>
</tr>
<tr>
<td><label for="friday"><span>Piątek: </span></label></td>
<td><input type="text" id="friday" th:field="*{friday.ilosc}" placeholder="Liczba godzin"/><br/></td>
</tr>
<tr>
<td><label for="saturday"><span>Sobota: </span></label></td>
<td><input type="text" id="saturday" th:field="*{saturday.ilosc}" placeholder="Liczba godzin"/><br/></td>
</tr>
<tr>
<td><label for="sunday"><span>Niedziela: </span></label></td>
<td><input type="text" id="sunday" th:field="*{sunday.ilosc}" placeholder="Liczba godzin"/><br/></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Zapisz" /></td>
</tr>
</table>
</form>
<br/>
<label>Wolne dni</label>
<form role="form" action="#" th:action="@{/schedule/add_free_day}" th:object="${freeDayForm}" method="post">
<input type="text" th:field="*{day}"/>Dzień<br/>
<input type="text" th:field="*{month}"/>Miesiąc
<input type="submit" value="Dodaj" />
</form>	
<table class="table table-hover">
			<tr th:each="freeDay : ${freeDays}">
				<td><span th:text="${freeDay}"></span></td>
				<td><a th:href="@{/schedule/delete_free_day(id=${freeDay.id})}">[X]</a></td>
			</tr>
</table>

</div>
</body>
</html>