<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Grafik pracy</title>
</head>
<body>
<div layout:fragment="decorator-content">
Grafik pracy<br/>
<form action="#" >		
		<TABLE>
        	<TR>
            	<td>Poniedziałek :</td>
           		<td><select id="godziny" name="godziny">
   					<option value="godziny0">0</option>
  					<option value="godziny1">1</option>
   					<option value="godziny2">2</option>
   					<option value="godziny3">3</option>
   					<option value="godziny4">4</option>
   					<option value="godziny5">5</option>
   					<option value="godziny6">6</option>
   					<option value="godziny7">7</option>
   					<option value="godziny8">8</option>
					</select></td>
            </TR>
            <TR>
            	<td>Wtorek :</td>
           		<td><select id="godziny" name="godziny">
   					<option value="godziny0">0</option>
  					<option value="godziny1">1</option>
   					<option value="godziny2">2</option>
   					<option value="godziny3">3</option>
   					<option value="godziny4">4</option>
   					<option value="godziny5">5</option>
   					<option value="godziny6">6</option>
   					<option value="godziny7">7</option>
   					<option value="godziny8">8</option>
					</select></td>
            </TR>
            <TR>
            	<td>Środa :</td>
           		<td><select id="godziny" name="godziny">
   					<option value="godziny0">0</option>
  					<option value="godziny1">1</option>
   					<option value="godziny2">2</option>
   					<option value="godziny3">3</option>
   					<option value="godziny4">4</option>
   					<option value="godziny5">5</option>
   					<option value="godziny6">6</option>
   					<option value="godziny7">7</option>
   					<option value="godziny8">8</option>
					</select></td>
            </TR>
            <TR>
            	<td>Czwartek :</td>
           		<td><select id="godziny" name="godziny">
   					<option value="godziny0">0</option>
  					<option value="godziny1">1</option>
   					<option value="godziny2">2</option>
   					<option value="godziny3">3</option>
   					<option value="godziny4">4</option>
   					<option value="godziny5">5</option>
   					<option value="godziny6">6</option>
   					<option value="godziny7">7</option>
   					<option value="godziny8">8</option>
					</select></td>
            </TR>
            <TR>
            	<td>Piątek :</td>
           		<td><select id="godziny" name="godziny">
   					<option value="godziny0">0</option>
  					<option value="godziny1">1</option>
   					<option value="godziny2">2</option>
   					<option value="godziny3">3</option>
   					<option value="godziny4">4</option>
   					<option value="godziny5">5</option>
   					<option value="godziny6">6</option>
   					<option value="godziny7">7</option>
   					<option value="godziny8">8</option>
					</select></td>
            </TR>
            <TR>
            	<td>Sobota :</td>
           		<td><select id="godziny" name="godziny">
   					<option value="godziny0">0</option>
  					<option value="godziny1">1</option>
   					<option value="godziny2">2</option>
   					<option value="godziny3">3</option>
   					<option value="godziny4">4</option>
   					<option value="godziny5">5</option>
   					<option value="godziny6">6</option>
   					<option value="godziny7">7</option>
   					<option value="godziny8">8</option>
					</select></td>
            </TR>
            <TR>
            	<td>Niedziela :</td>
           		<td><select id="godziny" name="godziny">
   					<option value="godziny0">0</option>
  					<option value="godziny1">1</option>
   					<option value="godziny2">2</option>
   					<option value="godziny3">3</option>
   					<option value="godziny4">4</option>
   					<option value="godziny5">5</option>
   					<option value="godziny6">6</option>
   					<option value="godziny7">7</option>
   					<option value="godziny8">8</option>
					</select></td>
            </TR>
            <TR>
            	<td><input type="submit" value="Zapisz" /></td>
            </TR>
        </TABLE>
</form>
</div>
</body>
</html>