<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="main_template">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Grafik pracy</title>
</head>
<body>
<div layout:fragment="decorator-content">
Grafik pracy<br/>
<form role="form" action="#" th:action="@{/schedule/work_schedule}" th:object="${scheduleForm}" method="post">	

<input type="hidden" th:field="*{monday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{tuesday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{wednesday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{thursday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{friday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{saturday.dzien_tygodnia}"/>
<input type="hidden" th:field="*{sunday.dzien_tygodnia}"/>

	
<label for="monday"><span>Poniedziałek: </span></label>
<input type="text" id="monday" th:field="*{monday.ilosc}" placeholder="Liczba godzin"/><br/>
<label for="tuesday"><span>Wtorek: </span></label>
<input type="text" id="tuesday" th:field="*{tuesday.ilosc}" placeholder="Liczba godzin"/><br/>
<label for="wednesday"><span>Środa: </span></label>
<input type="text" id="wednesday" th:field="*{wednesday.ilosc}" placeholder="Liczba godzin"/><br/>
<label for="thursday"><span>Czwartek: </span></label>
<input type="text" id="thursday" th:field="*{thursday.ilosc}" placeholder="Liczba godzin"/><br/>
<label for="friday"><span>Piątek: </span></label>
<input type="text" id="friday" th:field="*{friday.ilosc}" placeholder="Liczba godzin"/><br/>
<label for="saturday"><span>Sobota: </span></label>
<input type="text" id="saturday" th:field="*{saturday.ilosc}" placeholder="Liczba godzin"/><br/>
<label for="sunday"><span>Niedziela: </span></label>
<input type="text" id="sunday" th:field="*{sunday.ilosc}" placeholder="Liczba godzin"/><br/>
<input type="submit" value="Zapisz" />
</form>
</div>
</body>
</html>